ErrorLogWeb/Connected Services/ErrorLogServices/ErrorLogWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ErrorLogWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44354/ErrorLogWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44354/ErrorLogWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IErrorLogWS_WriteToLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToLog" />
  </wsdl:message>
  <wsdl:message name="IErrorLogWS_WriteToLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToLogResponse" />
  </wsdl:message>
  <wsdl:message name="IErrorLogWS_WriteToMessageLog_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToMessageLog" />
  </wsdl:message>
  <wsdl:message name="IErrorLogWS_WriteToMessageLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToMessageLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IErrorLogWS">
    <wsdl:operation name="WriteToLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IErrorLogWS/WriteToLog" message="tns:IErrorLogWS_WriteToLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IErrorLogWS/WriteToLogResponse" message="tns:IErrorLogWS_WriteToLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteToMessageLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IErrorLogWS/WriteToMessageLog" message="tns:IErrorLogWS_WriteToMessageLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IErrorLogWS/WriteToMessageLogResponse" message="tns:IErrorLogWS_WriteToMessageLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IErrorLogWS" type="tns:IErrorLogWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteToLog">
      <soap:operation soapAction="http://tempuri.org/IErrorLogWS/WriteToLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteToMessageLog">
      <soap:operation soapAction="http://tempuri.org/IErrorLogWS/WriteToMessageLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErrorLogWS">
    <wsdl:port name="BasicHttpBinding_IErrorLogWS" binding="tns:BasicHttpBinding_IErrorLogWS">
      <soap:address location="http://localhost:51376/ErrorLogWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>